html{
    background: url(download.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
header{
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 20px 20px 20px 20px ;
    font-size: 20px;
    font-weight: 15px;
}
h1{
    text-align: center;
    color: aliceblue;
}
div{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 30px;
    color: aliceblue;
}
.loingo {
    line-height: 50px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: red;
    
}